@use "../common/mixin";
@use "../common/variables";

.p-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.80);
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(24px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: mixin.rem(18px) mixin.rem(20px);
    z-index: 9999;
    transition: transform 0.3s ease, opacity 0.3s ease;

    &.hide {
        opacity: 0;
    }

    &.show {
        position: fixed;
        opacity: 1;
    }

    @include mixin.mq('md', min) {
        padding: mixin.rem(20px) mixin.rem(60px);
    }

    &.menu-active {
        @include mixin.mq('md') {
            border-bottom-color: rgba(6, 13, 39, 0.1);
            background: rgba(255, 255, 255, 1);
            backdrop-filter: blur(0px);
        }
    }

    &__wrap {
        display: flex;
        align-items: center;

        @include mixin.mq('md', min) {
            gap: mixin.rem(32px);
        }
    }

    &__logo {
        position: relative;
        width: mixin.rem(145px);

        @include mixin.mq('md', min) {
            width: mixin.rem(201px);
            padding-right: mixin.rem(30px);
        }

        img {
            width: 100%;
            height: auto;
        }

        @include mixin.mq('md', min) {
            &::after {
                background-color: rgba(6, 13, 39, 0.1);
                content: "";
                width: 1px;
                height: mixin.rem(30px);
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
            }
        }
    }

    &__nav {
        @include mixin.mq('md') {
            background-color: var(--color-white);
            padding: mixin.rem(48px) mixin.rem(24px) mixin.rem(24px);
            position: absolute;
            top: 100%;
            margin-top: mixin.rem(1px);
            left: 0;
            width: 100%;
            opacity: 0;
            visibility: hidden;
            transform: translateY(-10px);
            transition: all .3s ease;
        }
        
        @include mixin.mq('md', min) {
            display: flex;
            align-items: center;
            flex: 1;
            gap: mixin.rem(92px);
        }

        .nav {
            &-list {
                @include mixin.mq('md') {
                    column-count: 2;
                    column-gap: mixin.rem(30px);
                }

                @include mixin.mq('md', min) {
                    display: flex;
                    align-items: center;
                    gap: mixin.rem(24px);
                }
            }

            &-item {
                @include mixin.mq('md') {
                    break-inside: avoid;

                    &:nth-child(3) {
                        @include mixin.mq('md') {
                            break-before: column;
                        }
                    }

                    &:not(:last-child) {
                        margin-bottom: mixin.rem(32px);
                    }
                }

                &__child {
                    margin-top: mixin.rem(16px);

                    @include mixin.mq('md', min) {
                        display: none;
                        margin-top: mixin.rem(32px);
                    }

                    li {
                        &:not(:last-child) {
                            margin-bottom: mixin.rem(20px);

                            @include mixin.mq('md', min) {
                                margin-bottom: mixin.rem(32px);
                            }
                        }

                        a {
                            color: rgba(6, 13, 39, 0.5);
                            font-size: mixin.rem(14px);
                            font-weight: 500;
                            
                            @include mixin.mq('md', min) {
                                font-size: mixin.fs(15px);
                            }
                        }
                    }
                }
            }

            &-link {
                font-size: mixin.rem(16px);
                font-weight: 500;

                @include mixin.mq('md', min) {
                    font-size: mixin.fs(14px);
                    transition: opacity .3s;

                    &:hover {
                        opacity: .7;
                    }
                }
            }
        }

        .action {
            display: flex;
            flex-direction: column;
            gap: mixin.rem(12px);
            
            @include mixin.mq('md', min) {
                flex-direction: row;
                align-items: center;
                gap: mixin.rem(8px);
                margin-left: auto;
            }

            .btn {
                @include mixin.mq('md') {
                    width: 100%;

                    .btn__icon {
                        margin-left: auto;
                    }
                }
            }
        }

        &.is-active {
            @include mixin.mq('md') {
                opacity: 1;
                visibility: visible;
                transform: translateY(0px);
            }
        }
    }

    &__hamburger {
        margin-left: auto;

        @include mixin.mq('md', min) {
            display: none;
        }

        .menu-toggle {
            width: mixin.rem(68px);
            height: mixin.rem(28px);
            background: var(--color-primary);
            border: none;
            border-radius: mixin.rem(3px);
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            position: relative;
            overflow: hidden;

            &__dots {
                display: flex;
                gap: mixin.rem(4px);
                transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
            }

            &__dot {
                width: mixin.rem(4px);
                aspect-ratio: 1;
                background-color: var(--color-white);
                border-radius: 50%;
                transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
            }

            &__icon {
                position: absolute;
                width: mixin.rem(20px);
                aspect-ratio: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 0;
                transform: rotate(-90deg) scale(0.5);
                transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);

                &::before {
                    content: "";
                    background-image: url('../images/common/icon_close.svg');
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-position: left top;
                    background-size: 100% auto;
                }
            }

            &.is-active {
                transform: translateY(0);

                .menu-toggle__dots {
                    opacity: 0;
                    transform: rotate(90deg) scale(0.5);
                }

                .menu-toggle__icon {
                    opacity: 1;
                    transform: rotate(0deg) scale(1);
                }

                .menu-toggle__dot {
                    &:nth-child(1) {
                        transform: translateX(24px) scale(0);
                    }

                    &:nth-child(2) {
                        transform: scale(0);
                    }

                    &:nth-child(3) {
                        transform: translateX(-24px) scale(0);
                    }
                }
            }
        }
    }
}

.header-backdrop {
    background-color: rgba(variables.$black, .4);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: opacity .15s linear;
    z-index: 1200;

    &.show {
        opacity: 1;
    }
}