@use "../common/mixin";
@use "../common/variables";

.hline01 {
    font-weight: 500;
    font-size: mixin.rem(40px);
    line-height: 1.2;
    letter-spacing: .03em;

    @include mixin.mq('md', min) {
        font-size: mixin.fs(60px);
    }
}

.hline02 {
    font-weight: 500;
    font-size: mixin.rem(32px);
    line-height: 1.2;
    letter-spacing: .04em;

    @include mixin.mq('md', min) {
        font-size: mixin.fs(56px);
    }
}

.hline03 {
    font-weight: 500;
    font-size: mixin.rem(26px);
    letter-spacing: .03em;

    @include mixin.mq('md', min) {
        font-size: mixin.fs(38px);
        letter-spacing: .04em;
    }
}

.hline04 {
    font-size: mixin.rem(22px);
    font-weight: 500;
    line-height: 1.5;

    @include mixin.mq('md', min) {
        font-size: mixin.fs(28px);
    }
}

.hline05 {
    font-size: mixin.rem(20px);
    font-weight: 500;

    @include mixin.mq('md', min) {
        font-size: mixin.fs(24px);
    }
}

.hline06 {
    font-weight: 500;
    font-size: mixin.rem(18px);
    letter-spacing: .03em;

    @include mixin.mq('md', min) {
        font-size: mixin.fs(20px);
    }
}

.hline-en {
    display: inline-block;
    font-size: mixin.rem(12px);
    font-weight: 500;
    letter-spacing: -.02em;
    line-height: 1;
    position: relative;
    padding-left: mixin.rem(17px);

    @include mixin.mq('md', min) {
        font-size: mixin.fs(14px);
    }

    &::before {
        content: "";
        background: url('../images/common/icon_db_dot.svg') no-repeat center / contain;
        width: 12px;
        height: 6px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }

    &--white {
        color: var(--color-white);

        &::before {
            background-image: url('../images/common/icon_db_dot_white.svg');
        }
    }
}